- @commissions.each do |commission|
  %h2  
    = commission.name
    - commission.children.each do |child|
      %h4
        = child.name

      = render :partial => "shared/tree_item", :locals => {:node => child}