%div.navigation-holder
  %a.show-navigation{:href=>"#"}
    = @commission.name
  %div.tree-navigation
    %br
- @commission.children.each do |child|
  = render :partial => "shared/tree_item", :locals => {:node => child}