%div.navigation-holder
  = link_to "ЦИК", root_path
  &rarr;
  %a.show-navigation{:href=>"#"}
    = @commission.name
  %div.tree-navigation
    %br
- @commission.children.each do |child|
  = render :partial => "shared/tree_item", :locals => {:node => child}