@mixin sprite{
	width:16px; height:16px; background:image_url("icons/ico-sprite.png"); 
	display:inline-block;
}

.sprite-link{
	cursor:pointer;
	opacity:0.4;
	-webkit-transition: 0.10s ease-in;
	-moz-transition: 0.10s ease-in;
	
	&:hover{
		opacity:1;
	}
}

.ico-2x2_grid{ @include sprite; background-position: 0 0; width: 16px; height: 16px; } 
.ico-3x3_grid_2{ @include sprite; background-position: 0 -66px; width: 16px; height: 16px; } 
.ico-3x3_grid{ @include sprite; background-position: 0 -132px; width: 16px; height: 16px; } 
.ico-arrow_bottom{ @include sprite; background-position: 0 -198px; width: 16px; height: 16px; } 
.ico-arrow_bottom_left{ @include sprite; background-position: 0 -264px; width: 16px; height: 16px; } 
.ico-arrow_bottom_rigth{ @include sprite; background-position: 0 -330px; width: 16px; height: 16px; } 
.ico-arrow_l{ @include sprite; background-position: 0 -396px; width: 16px; height: 16px; } 
.ico-arrow_left{ @include sprite; background-position: 0 -462px; width: 16px; height: 16px; } 
.ico-arrow_r{ @include sprite; background-position: 0 -528px; width: 16px; height: 16px; } 
.ico-arrow_right{ @include sprite; background-position: 0 -594px; width: 16px; height: 16px; } 
.ico-arrow_top{ @include sprite; background-position: 0 -660px; width: 16px; height: 16px; } 
.ico-arrow_top_left{ @include sprite; background-position: 0 -726px; width: 16px; height: 16px; } 
.ico-arrow_top_right{ @include sprite; background-position: 0 -792px; width: 16px; height: 16px; } 
.ico-arrow_two_head_2{ @include sprite; background-position: 0 -858px; width: 16px; height: 16px; } 
.ico-arrow_two_head{ @include sprite; background-position: 0 -924px; width: 16px; height: 16px; } 
.ico-attention{ @include sprite; background-position: 0 -990px; width: 16px; height: 16px; } 
.ico-balance{ @include sprite; background-position: 0 -1056px; width: 16px; height: 16px; } 
.ico-battery{ @include sprite; background-position: 0 -1122px; width: 16px; height: 16px; } 
.ico-bell{ @include sprite; background-position: 0 -1188px; width: 16px; height: 16px; } 
.ico-book{ @include sprite; background-position: 0 -1254px; width: 16px; height: 16px; } 
.ico-book_side{ @include sprite; background-position: 0 -1320px; width: 16px; height: 16px; } 
.ico-bookmark_1{ @include sprite; background-position: 0 -1386px; width: 16px; height: 16px; } 
.ico-bookmark_2{ @include sprite; background-position: 0 -1452px; width: 16px; height: 16px; } 
.ico-box{ @include sprite; background-position: 0 -1518px; width: 16px; height: 16px; } 
.ico-br_down{ @include sprite; background-position: 0 -1584px; width: 16px; height: 16px; } 
.ico-br_next{ @include sprite; background-position: 0 -1650px; width: 16px; height: 16px; } 
.ico-br_prev{ @include sprite; background-position: 0 -1716px; width: 16px; height: 16px; } 
.ico-br_up{ @include sprite; background-position: 0 -1782px; width: 16px; height: 16px; } 
.ico-brackets{ @include sprite; background-position: 0 -1848px; width: 16px; height: 16px; } 
.ico-browser{ @include sprite; background-position: 0 -1914px; width: 16px; height: 16px; } 
.ico-brush{ @include sprite; background-position: -66px 0; width: 16px; height: 16px; } 
.ico-bug{ @include sprite; background-position: -66px -66px; width: 16px; height: 16px; } 
.ico-burst{ @include sprite; background-position: -66px -132px; width: 16px; height: 16px; } 
.ico-calc{ @include sprite; background-position: -66px -198px; width: 16px; height: 16px; } 
.ico-calendar_1{ @include sprite; background-position: -66px -264px; width: 16px; height: 16px; } 
.ico-calendar_2{ @include sprite; background-position: -66px -330px; width: 16px; height: 16px; } 
.ico-cancel{ @include sprite; background-position: -66px -396px; width: 16px; height: 16px; } 
.ico-case{ @include sprite; background-position: -66px -462px; width: 16px; height: 16px; } 
.ico-cassette{ @include sprite; background-position: -66px -528px; width: 16px; height: 16px; } 
.ico-cc{ @include sprite; background-position: -66px -594px; width: 16px; height: 16px; } 
.ico-cert{ @include sprite; background-position: -66px -660px; width: 16px; height: 16px; } 
.ico-chart_bar{ @include sprite; background-position: -66px -726px; width: 16px; height: 16px; } 
.ico-chart_line_2{ @include sprite; background-position: -66px -792px; width: 16px; height: 16px; } 
.ico-chart_line{ @include sprite; background-position: -66px -858px; width: 16px; height: 16px; } 
.ico-chart_pie{ @include sprite; background-position: -66px -924px; width: 16px; height: 16px; } 
.ico-chat_bubble_message_square{ @include sprite; background-position: -66px -990px; width: 16px; height: 16px; } 
.ico-checkbox_checked{ @include sprite; background-position: -66px -1056px; width: 16px; height: 16px; } 
.ico-checkbox_unchecked{ @include sprite; background-position: -66px -1122px; width: 16px; height: 16px; } 
.ico-checkmark{ @include sprite; background-position: -66px -1188px; width: 16px; height: 16px; } 
.ico-clip{ @include sprite; background-position: -66px -1254px; width: 16px; height: 16px; } 
.ico-clipboard_copy{ @include sprite; background-position: -66px -1320px; width: 16px; height: 16px; } 
.ico-clipboard_cut{ @include sprite; background-position: -66px -1386px; width: 16px; height: 16px; } 
.ico-clipboard_past{ @include sprite; background-position: -66px -1452px; width: 16px; height: 16px; } 
.ico-clock{ @include sprite; background-position: -66px -1518px; width: 16px; height: 16px; } 
.ico-cloud{ @include sprite; background-position: -66px -1584px; width: 16px; height: 16px; } 
.ico-cloud_rain{ @include sprite; background-position: -66px -1650px; width: 16px; height: 16px; } 
.ico-coffe_cup{ @include sprite; background-position: -66px -1716px; width: 16px; height: 16px; } 
.ico-cog{ @include sprite; background-position: -66px -1782px; width: 16px; height: 16px; } 
.ico-cogs{ @include sprite; background-position: -66px -1848px; width: 16px; height: 16px; } 
.ico-comp{ @include sprite; background-position: -66px -1914px; width: 16px; height: 16px; } 
.ico-compass{ @include sprite; background-position: -132px 0; width: 16px; height: 16px; } 
.ico-connect{ @include sprite; background-position: -132px -66px; width: 16px; height: 16px; } 
.ico-contact_card{ @include sprite; background-position: -132px -132px; width: 16px; height: 16px; } 
.ico-contact{ @include sprite; background-position: -132px -198px; width: 16px; height: 16px; } 
.ico-cube{ @include sprite; background-position: -132px -264px; width: 16px; height: 16px; } 
.ico-dashboard{ @include sprite; background-position: -132px -330px; width: 16px; height: 16px; } 
.ico-db{ @include sprite; background-position: -132px -396px; width: 16px; height: 16px; } 
.ico-delete{ @include sprite; background-position: -132px -462px; width: 16px; height: 16px; } 
.ico-delete_server{ @include sprite; background-position: -132px -528px; width: 16px; height: 16px; } 
.ico-disconnected{ @include sprite; background-position: -132px -594px; width: 16px; height: 16px; } 
.ico-doc_delete{ @include sprite; background-position: -132px -660px; width: 16px; height: 16px; } 
.ico-doc_edit{ @include sprite; background-position: -132px -726px; width: 16px; height: 16px; } 
.ico-doc_empty{ @include sprite; background-position: -132px -792px; width: 16px; height: 16px; } 
.ico-doc_export{ @include sprite; background-position: -132px -858px; width: 16px; height: 16px; } 
.ico-doc_import{ @include sprite; background-position: -132px -924px; width: 16px; height: 16px; } 
.ico-doc_lines{ @include sprite; background-position: -132px -990px; width: 16px; height: 16px; } 
.ico-doc_lines_stright{ @include sprite; background-position: -132px -1056px; width: 16px; height: 16px; } 
.ico-doc_minus{ @include sprite; background-position: -132px -1122px; width: 16px; height: 16px; } 
.ico-doc_new{ @include sprite; background-position: -132px -1188px; width: 16px; height: 16px; } 
.ico-doc_plus{ @include sprite; background-position: -132px -1254px; width: 16px; height: 16px; } 
.ico-document{ @include sprite; background-position: -132px -1320px; width: 16px; height: 16px; } 
.ico-download{ @include sprite; background-position: -132px -1386px; width: 16px; height: 16px; } 
.ico-eject{ @include sprite; background-position: -132px -1452px; width: 16px; height: 16px; } 
.ico-expand{ @include sprite; background-position: -132px -1518px; width: 16px; height: 16px; } 
.ico-export{ @include sprite; background-position: -132px -1584px; width: 16px; height: 16px; } 
.ico-eye{ @include sprite; background-position: -132px -1650px; width: 16px; height: 16px; } 
.ico-eye_inv{ @include sprite; background-position: -132px -1716px; width: 16px; height: 16px; } 
.ico-facebook{ @include sprite; background-position: -132px -1782px; width: 16px; height: 16px; } 
.ico-fastforward_next{ @include sprite; background-position: -132px -1848px; width: 16px; height: 16px; } 
.ico-fill{ @include sprite; background-position: -132px -1914px; width: 16px; height: 16px; } 
.ico-filter{ @include sprite; background-position: -198px 0; width: 16px; height: 16px; } 
.ico-flag_2{ @include sprite; background-position: -198px -66px; width: 16px; height: 16px; } 
.ico-flag{ @include sprite; background-position: -198px -132px; width: 16px; height: 16px; } 
.ico-font_bold{ @include sprite; background-position: -198px -198px; width: 16px; height: 16px; } 
.ico-font_italic{ @include sprite; background-position: -198px -264px; width: 16px; height: 16px; } 
.ico-font_size{ @include sprite; background-position: -198px -330px; width: 16px; height: 16px; } 
.ico-glasses{ @include sprite; background-position: -198px -396px; width: 16px; height: 16px; } 
.ico-globe_1{ @include sprite; background-position: -198px -462px; width: 16px; height: 16px; } 
.ico-globe_2{ @include sprite; background-position: -198px -528px; width: 16px; height: 16px; } 
.ico-globe_3{ @include sprite; background-position: -198px -594px; width: 16px; height: 16px; } 
.ico-google{ @include sprite; background-position: -198px -660px; width: 16px; height: 16px; } 
.ico-hand_1{ @include sprite; background-position: -198px -726px; width: 16px; height: 16px; } 
.ico-hand_2{ @include sprite; background-position: -198px -792px; width: 16px; height: 16px; } 
.ico-hand_contra{ @include sprite; background-position: -198px -858px; width: 16px; height: 16px; } 
.ico-hand_pro{ @include sprite; background-position: -198px -924px; width: 16px; height: 16px; } 
.ico-heart_empty{ @include sprite; background-position: -198px -990px; width: 16px; height: 16px; } 
.ico-heart{ @include sprite; background-position: -198px -1056px; width: 16px; height: 16px; } 
.ico-home{ @include sprite; background-position: -198px -1122px; width: 16px; height: 16px; } 
.ico-import{ @include sprite; background-position: -198px -1188px; width: 16px; height: 16px; } 
.ico-inbox{ @include sprite; background-position: -198px -1254px; width: 16px; height: 16px; } 
.ico-indent_decrease{ @include sprite; background-position: -198px -1320px; width: 16px; height: 16px; } 
.ico-indent_increase{ @include sprite; background-position: -198px -1386px; width: 16px; height: 16px; } 
.ico-inject{ @include sprite; background-position: -198px -1452px; width: 16px; height: 16px; } 
.ico-invisible_light{ @include sprite; background-position: -198px -1518px; width: 16px; height: 16px; } 
.ico-invisible_revert{ @include sprite; background-position: -198px -1584px; width: 16px; height: 16px; } 
.ico-iphone{ @include sprite; background-position: -198px -1650px; width: 16px; height: 16px; } 
.ico-key{ @include sprite; background-position: -198px -1716px; width: 16px; height: 16px; } 
.ico-layers_1{ @include sprite; background-position: -198px -1782px; width: 16px; height: 16px; } 
.ico-layers_2{ @include sprite; background-position: -198px -1848px; width: 16px; height: 16px; } 
.ico-lightbulb{ @include sprite; background-position: -198px -1914px; width: 16px; height: 16px; } 
.ico-lighting{ @include sprite; background-position: -264px 0; width: 16px; height: 16px; } 
.ico-link{ @include sprite; background-position: -264px -66px; width: 16px; height: 16px; } 
.ico-list_bullets{ @include sprite; background-position: -264px -132px; width: 16px; height: 16px; } 
.ico-list_num{ @include sprite; background-position: -264px -198px; width: 16px; height: 16px; } 
.ico-loading_throbber{ @include sprite; background-position: -264px -264px; width: 16px; height: 16px; } 
.ico-lock_open{ @include sprite; background-position: -264px -330px; width: 16px; height: 16px; } 
.ico-mail_2{ @include sprite; background-position: -264px -396px; width: 16px; height: 16px; } 
.ico-mail{ @include sprite; background-position: -264px -462px; width: 16px; height: 16px; } 
.ico-message_attention{ @include sprite; background-position: -264px -528px; width: 16px; height: 16px; } 
.ico-microphone{ @include sprite; background-position: -264px -594px; width: 16px; height: 16px; } 
.ico-money{ @include sprite; background-position: -264px -660px; width: 16px; height: 16px; } 
.ico-music_square{ @include sprite; background-position: -264px -726px; width: 16px; height: 16px; } 
.ico-net_comp{ @include sprite; background-position: -264px -792px; width: 16px; height: 16px; } 
.ico-network{ @include sprite; background-position: -264px -858px; width: 16px; height: 16px; } 
.ico-not_connected{ @include sprite; background-position: -264px -924px; width: 16px; height: 16px; } 
.ico-notepad_2{ @include sprite; background-position: -264px -990px; width: 16px; height: 16px; } 
.ico-notepad{ @include sprite; background-position: -264px -1056px; width: 16px; height: 16px; } 
.ico-off{ @include sprite; background-position: -264px -1122px; width: 16px; height: 16px; } 
.ico-on-off{ @include sprite; background-position: -264px -1188px; width: 16px; height: 16px; } 
.ico-on{ @include sprite; background-position: -264px -1254px; width: 16px; height: 16px; } 
.ico-openid{ @include sprite; background-position: -264px -1320px; width: 16px; height: 16px; } 
.ico-padlock_closed{ @include sprite; background-position: -264px -1386px; width: 16px; height: 16px; } 
.ico-padlock_open{ @include sprite; background-position: -264px -1452px; width: 16px; height: 16px; } 
.ico-page_layout{ @include sprite; background-position: -264px -1518px; width: 16px; height: 16px; } 
.ico-paper_airplane{ @include sprite; background-position: -264px -1584px; width: 16px; height: 16px; } 
.ico-paragraph{ @include sprite; background-position: -264px -1650px; width: 16px; height: 16px; } 
.ico-pencil{ @include sprite; background-position: -264px -1716px; width: 16px; height: 16px; } 
.ico-phone_1{ @include sprite; background-position: -264px -1782px; width: 16px; height: 16px; } 
.ico-phone_2{ @include sprite; background-position: -264px -1848px; width: 16px; height: 16px; } 
.ico-phone{ @include sprite; background-position: -264px -1914px; width: 16px; height: 16px; } 
.ico-phone_touch{ @include sprite; background-position: -330px 0; width: 16px; height: 16px; } 
.ico-photo{ @include sprite; background-position: -330px -66px; width: 16px; height: 16px; } 
.ico-picture{ @include sprite; background-position: -330px -132px; width: 16px; height: 16px; } 
.ico-pin_2{ @include sprite; background-position: -330px -198px; width: 16px; height: 16px; } 
.ico-pin{ @include sprite; background-position: -330px -264px; width: 16px; height: 16px; } 
.ico-pin_map_down{ @include sprite; background-position: -330px -330px; width: 16px; height: 16px; } 
.ico-pin_map{ @include sprite; background-position: -330px -396px; width: 16px; height: 16px; } 
.ico-pin_map_left{ @include sprite; background-position: -330px -462px; width: 16px; height: 16px; } 
.ico-pin_map_right{ @include sprite; background-position: -330px -528px; width: 16px; height: 16px; } 
.ico-pin_map_top{ @include sprite; background-position: -330px -594px; width: 16px; height: 16px; } 
.ico-pin_sq_down{ @include sprite; background-position: -330px -660px; width: 16px; height: 16px; } 
.ico-pin_sq_left{ @include sprite; background-position: -330px -726px; width: 16px; height: 16px; } 
.ico-pin_sq_right{ @include sprite; background-position: -330px -792px; width: 16px; height: 16px; } 
.ico-pin_sq_top{ @include sprite; background-position: -330px -858px; width: 16px; height: 16px; } 
.ico-playback_ff{ @include sprite; background-position: -330px -924px; width: 16px; height: 16px; } 
.ico-playback_next{ @include sprite; background-position: -330px -990px; width: 16px; height: 16px; } 
.ico-playback_pause{ @include sprite; background-position: -330px -1056px; width: 16px; height: 16px; } 
.ico-playback_play{ @include sprite; background-position: -330px -1122px; width: 16px; height: 16px; } 
.ico-playback_prev{ @include sprite; background-position: -330px -1188px; width: 16px; height: 16px; } 
.ico-playback_rec{ @include sprite; background-position: -330px -1254px; width: 16px; height: 16px; } 
.ico-playback_reload{ @include sprite; background-position: -330px -1320px; width: 16px; height: 16px; } 
.ico-playback_rew{ @include sprite; background-position: -330px -1386px; width: 16px; height: 16px; } 
.ico-playback_stop{ @include sprite; background-position: -330px -1452px; width: 16px; height: 16px; } 
.ico-podcast{ @include sprite; background-position: -330px -1518px; width: 16px; height: 16px; } 
.ico-preso{ @include sprite; background-position: -330px -1584px; width: 16px; height: 16px; } 
.ico-print{ @include sprite; background-position: -330px -1650px; width: 16px; height: 16px; } 
.ico-push_pin{ @include sprite; background-position: -330px -1716px; width: 16px; height: 16px; } 
.ico-redo{ @include sprite; background-position: -330px -1782px; width: 16px; height: 16px; } 
.ico-refresh{ @include sprite; background-position: -330px -1848px; width: 16px; height: 16px; } 
.ico-reload{ @include sprite; background-position: -330px -1914px; width: 16px; height: 16px; } 
.ico-rewind_previous{ @include sprite; background-position: -396px 0; width: 16px; height: 16px; } 
.ico-rnd_br_down{ @include sprite; background-position: -396px -66px; width: 16px; height: 16px; } 
.ico-rnd_br_first{ @include sprite; background-position: -396px -132px; width: 16px; height: 16px; } 
.ico-rnd_br_last{ @include sprite; background-position: -396px -198px; width: 16px; height: 16px; } 
.ico-rnd_br_next{ @include sprite; background-position: -396px -264px; width: 16px; height: 16px; } 
.ico-rnd_br_prev{ @include sprite; background-position: -396px -330px; width: 16px; height: 16px; } 
.ico-rnd_br_up{ @include sprite; background-position: -396px -396px; width: 16px; height: 16px; } 
.ico-round_and_up{ @include sprite; background-position: -396px -462px; width: 16px; height: 16px; } 
.ico-round_arrow_left{ @include sprite; background-position: -396px -528px; width: 16px; height: 16px; } 
.ico-round_arrow_right{ @include sprite; background-position: -396px -594px; width: 16px; height: 16px; } 
.ico-round_checkmark{ @include sprite; background-position: -396px -660px; width: 16px; height: 16px; } 
.ico-round_delete{ @include sprite; background-position: -396px -726px; width: 16px; height: 16px; } 
.ico-round{ @include sprite; background-position: -396px -792px; width: 16px; height: 16px; } 
.ico-round_minus{ @include sprite; background-position: -396px -858px; width: 16px; height: 16px; } 
.ico-round_plus{ @include sprite; background-position: -396px -924px; width: 16px; height: 16px; } 
.ico-rss{ @include sprite; background-position: -396px -990px; width: 16px; height: 16px; } 
.ico-rss_sq{ @include sprite; background-position: -396px -1056px; width: 16px; height: 16px; } 
.ico-sand{ @include sprite; background-position: -396px -1122px; width: 16px; height: 16px; } 
.ico-sat_dish{ @include sprite; background-position: -396px -1188px; width: 16px; height: 16px; } 
.ico-save{ @include sprite; background-position: -396px -1254px; width: 16px; height: 16px; } 
.ico-server{ @include sprite; background-position: -396px -1320px; width: 16px; height: 16px; } 
.ico-shapes{ @include sprite; background-position: -396px -1386px; width: 16px; height: 16px; } 
.ico-share_2{ @include sprite; background-position: -396px -1452px; width: 16px; height: 16px; } 
.ico-share{ @include sprite; background-position: -396px -1518px; width: 16px; height: 16px; } 
.ico-shield_2{ @include sprite; background-position: -396px -1584px; width: 16px; height: 16px; } 
.ico-shield{ @include sprite; background-position: -396px -1650px; width: 16px; height: 16px; } 
.ico-shopping_bag_dollar{ @include sprite; background-position: -396px -1716px; width: 16px; height: 16px; } 
.ico-shopping_bag{ @include sprite; background-position: -396px -1782px; width: 16px; height: 16px; } 
.ico-spechbubble_2{ @include sprite; background-position: -396px -1848px; width: 16px; height: 16px; } 
.ico-spechbubble{ @include sprite; background-position: -396px -1914px; width: 16px; height: 16px; } 
.ico-spechbubble_sq{ @include sprite; background-position: -462px 0; width: 16px; height: 16px; } 
.ico-spechbubble_sq_line{ @include sprite; background-position: -462px -66px; width: 16px; height: 16px; } 
.ico-sq_br_down{ @include sprite; background-position: -462px -132px; width: 16px; height: 16px; } 
.ico-sq_br_first{ @include sprite; background-position: -462px -198px; width: 16px; height: 16px; } 
.ico-sq_br_last{ @include sprite; background-position: -462px -264px; width: 16px; height: 16px; } 
.ico-sq_br_next{ @include sprite; background-position: -462px -330px; width: 16px; height: 16px; } 
.ico-sq_br_prev{ @include sprite; background-position: -462px -396px; width: 16px; height: 16px; } 
.ico-sq_br_up{ @include sprite; background-position: -462px -462px; width: 16px; height: 16px; } 
.ico-sq_down{ @include sprite; background-position: -462px -528px; width: 16px; height: 16px; } 
.ico-sq_minus{ @include sprite; background-position: -462px -594px; width: 16px; height: 16px; } 
.ico-sq_next{ @include sprite; background-position: -462px -660px; width: 16px; height: 16px; } 
.ico-sq_plus{ @include sprite; background-position: -462px -726px; width: 16px; height: 16px; } 
.ico-sq_prev{ @include sprite; background-position: -462px -792px; width: 16px; height: 16px; } 
.ico-sq_up{ @include sprite; background-position: -462px -858px; width: 16px; height: 16px; } 
.ico-square_shape{ @include sprite; background-position: -462px -924px; width: 16px; height: 16px; } 
.ico-stairs_down{ @include sprite; background-position: -462px -990px; width: 16px; height: 16px; } 
.ico-stairs_up{ @include sprite; background-position: -462px -1056px; width: 16px; height: 16px; } 
.ico-star_fav_empty{ @include sprite; background-position: -462px -1122px; width: 16px; height: 16px; } 
.ico-star_fav{ @include sprite; background-position: -462px -1188px; width: 16px; height: 16px; } 
.ico-star{ @include sprite; background-position: -462px -1254px; width: 16px; height: 16px; } 
.ico-stop_watch{ @include sprite; background-position: -462px -1320px; width: 16px; height: 16px; } 
.ico-sun{ @include sprite; background-position: -462px -1386px; width: 16px; height: 16px; } 
.ico-tag{ @include sprite; background-position: -462px -1452px; width: 16px; height: 16px; } 
.ico-tape{ @include sprite; background-position: -462px -1518px; width: 16px; height: 16px; } 
.ico-target{ @include sprite; background-position: -462px -1584px; width: 16px; height: 16px; } 
.ico-text_curstor{ @include sprite; background-position: -462px -1650px; width: 16px; height: 16px; } 
.ico-text_letter_t{ @include sprite; background-position: -462px -1716px; width: 16px; height: 16px; } 
.ico-top_right_expand{ @include sprite; background-position: -462px -1782px; width: 16px; height: 16px; } 
.ico-track{ @include sprite; background-position: -462px -1848px; width: 16px; height: 16px; } 
.ico-trash{ @include sprite; background-position: -462px -1914px; width: 16px; height: 16px; } 
.ico-twitter_2{ @include sprite; background-position: -528px 0; width: 16px; height: 16px; } 
.ico-twitter{ @include sprite; background-position: -528px -66px; width: 16px; height: 16px; } 
.ico-undo{ @include sprite; background-position: -528px -132px; width: 16px; height: 16px; } 
.ico-user{ @include sprite; background-position: -528px -198px; width: 16px; height: 16px; } 
.ico-users{ @include sprite; background-position: -528px -264px; width: 16px; height: 16px; } 
.ico-vault{ @include sprite; background-position: -528px -330px; width: 16px; height: 16px; } 
.ico-wallet{ @include sprite; background-position: -528px -396px; width: 16px; height: 16px; } 
.ico-wifi_router{ @include sprite; background-position: -528px -462px; width: 16px; height: 16px; } 
.ico-wireless_signal{ @include sprite; background-position: -528px -528px; width: 16px; height: 16px; } 
.ico-wrench{ @include sprite; background-position: -528px -594px; width: 16px; height: 16px; } 
.ico-wrench_plus_2{ @include sprite; background-position: -528px -660px; width: 16px; height: 16px; } 
.ico-wrench_plus{ @include sprite; background-position: -528px -726px; width: 16px; height: 16px; } 
.ico-youtube{ @include sprite; background-position: -528px -792px; width: 16px; height: 16px; } 
.ico-zoom{ @include sprite; background-position: -528px -858px; width: 16px; height: 16px; } 
